* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Lato, sans-serif;
}

body {
	background-color: rgba(0, 0, 0, 0.08);
}

:target:before {
	content: "";
	display: block;
	height: 100px;
	margin: -100px 0 0 0;
}

#header-img {
	width: 340px;
	height: 50px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	background-color: rgb(255, 255, 0);
	position: sticky;
	top: 0;
}

#nav-bar {
	width: 50%;
}

#nav-bar > ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
}

#nav-bar a {
	text-decoration: none;
	transition: 0.8s;
	color: black;
}

#nav-bar a:hover {
	color: red;
	font-size: 1.5rem;
	transition: 0.8s;
}

@media (max-width: 700px) {
	#header {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#nav-bar {
		position: relative;
		left: 30px;
		width: 80%;
		margin-bottom: 10px;
	}
}

.get-started h2 {
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#email {
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 300px;
	height: 25px;
}

.button {
	display: block;
	margin: auto;
	margin-top: 5px;
	padding: 5px;
	background-color: yellow;
	color: red;
	transition: 1s;
	border-radius: 5px;
}

.button:hover {
	background-color: red;
	color: yellow;
	font-size: 1.25rem;
	transition: 1s;
}

#features {
	margin: 100px 20px;
}

.feature {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

.icon-wrapper {
	width: 30%;
	text-align: center;
}

.feature-description {
	width: 70%;
}

.icon {
	color: rgba(255, 127, 0, 0.9);
}

iframe {
	display: block;
	width: 60%;
	height: 30vw;
	margin: auto;
	margin-bottom: 100px;
}

.pricing-wrapper {
	display:flex;
	justify-content: center;
	width: 80%;
	text-align: center;
	margin: auto;
	flex-wrap: nowrap;
}

@media (max-width: 900px) {
	.pricing-wrapper {
		flex-wrap: wrap;
	}
}

.pricing-plan {
	margin: 15px;
	width: 275px;
	height: 350px;
	border: 1px solid black;
	border-radius: 5px;
}

#pricing h3 {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 5px 0;
}

#pricing h4 {
	font-size: 1.8rem;
	margin: 30px auto;
}

#pricing p {
	margin: 10px auto;
}

#pricing .button {
	margin: 40px auto;
	font-size: 1.25rem;
}

#pricing .button:hover {
	font-size: 1.75rem;
}

footer {
	display: block;
	background-color: rgba(0, 0, 0, 0.3);
	width: 900px;
	margin: auto;
	padding: 10px;
}

footer ul {
	list-style-type: none;
	display: flex;
	text-align: right;
	justify-content: flex-end;
	align-items: center;
}

footer li {
	margin-left: 10px;
}

footer a {
	text-decoration: none;
	color: black;
}
footer span {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	margin-top: 5px;
	color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 900px) {
	footer {
		width: 100%;
	}
}
